h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
button {
    background-color: blanchedalmond;
  font-family: "Roboto", sans-serif;
  /* border-radius: 25px; */
  border: 0px solid burlywood;
  width: 60px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 3px;
  font-size: 15px;
  border-radius: 24px;
}
button:hover {
background-color: burlywood;
}

.Text {
    text-align: center;
    position: relative;
    justify-content: center;
    border-radius: 15px;
    outline: none;
    width: auto;
    border: 2px solid rgb(219, 183, 128);
    background-color: white;
}
.Text:focus {
    border: 2px solid rgb(179, 138, 77);
    transition: 0.3s;
  }
  
p {
    display: flex;
    text-align: center;
    justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-align: center;
  padding: 10px 8px 10px 30px;
  list-style-type: none;
  background: moccasin;
  font-size: 15px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: cornsilk;
}

/* Darker background-color on hover */
ul li:hover {
  background: wheat;
}